# Кортежи (Tuples)

In [1]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [6]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
my_tuple.remove(3)
print(my_tuple)

AttributeError: 'tuple' object has no attribute 'remove'

In [7]:
my_tuple  [0]

1

In [8]:
my_tuple [1:3]

(2, 3)

In [9]:
my_tuple.count(3)

1

In [10]:
del(my_tuple)
print(my_tuple)

NameError: name 'my_tuple' is not defined

In [17]:
my_tuple = ('car1', 'car2', 'car3', 'car4')

In [18]:
my_list = ('ГАЗ-21', 'Нива', 'ЗАЗ-966', 'Лада')

In [19]:
car_park = list(zip(my_tuple, my_list))

In [20]:
car_park

[('car1', 'ГАЗ-21'), ('car2', 'Нива'), ('car3', 'ЗАЗ-966'), ('car4', 'Лада')]